<!DOCTYPE html>
<html lang="ru">

  <head>
    {% include "basehead.njk"%}

  </head>

  <body>
    {% include "partials/navbar.njk"%}

    <main tabindex="-1" id="main-content">

      {{content | safe}}
    </main>
    {% include "partials/footer.njk"%}
    {# <script src="./navBarRemove.js"></script> #}

  </body>

</html>