.news-page{
    margin: var(--gutter);
}

.news__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-template-rows: auto;
    grid-gap: var(--gutter_x2);
}


.new__container {
    border-radius: var(--borderRadius);
    padding: 48px;
    /* height: 584px;
    overflow: hidden; */
    background-color: var(--colorLight);
    display: flex;
    flex-direction: column;
}

.new__container h1 {
    font-size: min(max(16px, 1.339vw), 18px);
    font-weight: 400;
    line-height: 96%;
    padding: 1.935vw 0;

}

.new__container p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 118%;
    color: #202D56;
    margin-bottom: auto;
}

.new__container time {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 118%;
    color: var(--Gray);
}
.news__links{
    margin-top: 16px;
    margin-bottom: 0;
    font-size: 16px;

}