.factory {
    margin: var(--gutter_x2) 0.588vw;
    background-color: var(--Dark);
    border-radius: var(--borderRadius);    
    padding:  3.529vw 0;

}

.factory__container {
    /* display: grid; */
    /* grid-template-columns: repeat(4, 1fr); */
    /* gap: 9vw; */


}

.factory__text-container {
    /* margin-bottom: 160px; */
}

.factory__head {
    font-weight: 700;
    font-size: min(max(16px, 1.324vw));
    line-height: 110%;
    text-transform: uppercase;
    margin-bottom: 3.529vw;

}


.factory_name {
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    margin: 16px 0;
    /* min-height: 170px; */
}

.factory__date {
    font-size: 12px;
    line-height: 117%;
    color: var(--Gray);
}

.factory__btn-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 3.529vw;
}


.factory_img {
    max-width: 100%;
    margin-left: 3.529vw;
    /* margin-right: 3.529vw; */
}

.factory__btm-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.factory__header {
    font-weight: 500;
    font-size: var(--mediumHeader);
    line-height: 103%;
    letter-spacing: -0.04em;
    width: 50%;

}

.factory__cards-container {
    display: block;
    margin: 4.836vw 0;
    /* flex-direction: row; */
    /* overflow: hidden; */
    /* gap: 16px; */
    /* overflow-x: scroll; */


}

.factory__card {
    display: flex;
    flex-direction: column;
    /* background-color: var(--LimeDark); */
    border-radius: 10px;
    /* padding: 2.381vw; */
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    /* margin: 0; */
    /* margin-bottom: 50px; */
    /* text-align: center; */
    /* font-size: 18px; */
    /* background: #fff; */

    /* Center slide text vertically */
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; */
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}