.footer{
    margin: 18.452vw 4.167vw 2.381vw 4.167vw;
    text-decoration: none;
    list-style: none;
}

.footer__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr auto;
}

.footer__email a{
    text-decoration: none;
}

.footer__left-col{
    grid-column: 1/3;
}

.footer__adress{
white-space: pre-line;
}

.footer__socials{
    grid-column: 1/3;
    /* margin-top: 64px; */
    background-image: url('../assets/images/vk.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 23px;
    height: 15px;

}

.footer li, .footer ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__bottom{
    grid-column: 1/-1;
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}
.footer__policy{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 32px;

}

.footer__policy > p{
    font-size: 12px;
}