<section class="header__container">
    
    <div class="header__info">
        <div class="header__text-container">
            <h1>Защищаем<br>жизни</h1>
            <p>«Нанолек» — российская биофармацевтическая компания с высокотехнологичным производством полного цикла</p>
        </div>
        <button class="btn">О комании</button>
    </div>
    
</section>