{# {% set news = news %} #}

<section class="news">
    <h2 class="section__head">Новости</h2>
    <div class="news__container">
        {% for new in news %}
            <div class="news__card">
                <h3>{{new.newsTitle}}</h2>
                {# <p>{{new.newsBody}}</p> #}
                <p class="news__date">{{new.newsDate}}</p>
            </div>
        {% endfor %}

    </div>

    <div class="news__btn-container">
        <button class="slider-btn-prev">
            <div class="slider-arrow"></div>
        </button>
        <button class="slider-btn-next">
            <div class="slider-arrow"></div>
        </button>

    </div>

</section>