<section class="numbers">
    <div class="numbers__container">
        <div class="numbers__textAndBtn">
            <h2 class="section__head">ЦИФРЫ</h2>
            <h2 class="numbers__header">Защищаем жизни и здоровье людей, делая лучшие мировые технологии доступными каждому</h2>
            <button class="btn">О компании</button>

        </div>

        {% for number in numbers %}
            <div class="numbers__card">
                <div class="numbers__alltxt-container">
                    <div class="numbers__text-container">
                        <p class="numbers__number" >{{number.number}}</p>
                        <p class="numbers_mln">{{number.mln}}</p>
                    </div>
                    <p class="numbers__description">{{number.body}}</p>
                </div>
            </div>
        {% endfor %}

    </div>
</section>