---
layout: layouts/base.njk
---

<section class="news-one-page">

    <div class="news-one-page__container">
                <time>{{date.toLocaleString( "ru-RU",{
                            weekday: "short",
                            year: "numeric",
                            month: "2-digit",
                            day: "numeric"
                        })}}</time>
            <h1>{{title}}</h1>
            <p>{{description}}</p>
            {{ content | safe}}
    </div>
</section>