---
layout: layouts/base.njk
---

<section class="news-one-page">

    <div class="news-one-page__container">
                <time class="">{{date.toLocaleString( "ru-RU",{
                            weekday: "short",
                            year: "numeric",
                            month: "2-digit",
                            day: "numeric"
                        })}}</time>
            <h1>{{title}}</h1>
            <p class = "news-one-page__description">{{description}}</p>
            {{ content | safe}}
    <a href="/all-news" class="btn">Все новости</a>
    </div>

</section>