<section class="speciality">
    <div class="speciality__container">
        <h2 class="section__head">Specialty care</h2>
        <h2 class="speciality__header">Препараты для лечения онкологических и орфанных заболеваний</h2>
        <div class="speciality__cards-container">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">

                    {% for speciality in specialitys %}
                        <div class="swiper-slide speciality__card">
                            <img class="speciality_img" src="{{speciality.specialityImg}}" alt="">

                            <div class="speciality__text-container">
                                <h3 class="speciality_name">{{speciality.specialityTitle}}</h2>
                                <p>{{speciality.specialityBody}}</p>
                            </div>
                        </div>
                    {% endfor %}

                </div>
                {# <div class="swiper-pagination"></div> #}

            </div>

        </div>
    </div>
    <div class="speciality__btm-container">
        <button class="btn">Препараты</button>

        <div class="speciality__btn-container">
            <button id="swiper-spec-prev" class="slider-btn-prev">
                <div class="slider-arrow"></div>
            </button>
            <button id="swiper-spec-next" class="slider-btn-next">
                <div class="slider-arrow"></div>
            </button>
        </div>

    </div>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

</section>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 3,
        spaceBetween: 30,
        {# pagination: {
            el: ".swiper-pagination",
            clickable: true
        }, #}
        navigation: {
            nextEl: "#swiper-spec-next",
            prevEl: "#swiper-spec-prev"
        }
    });
</script>